:root {
    --background-docs-chrome: #222;
    --border-docs-chrome: #333;

    --background-docs-toolbar-wrapper: #323538;
    --background-docs-toolbar-button-hover: #454a4d;

    --background-docs-pageless-ruler: #333;

    --background-docs-editor: #222;

    --color-docs-title-input: #000;
    --color-docs-title-input-label-inner: #fff;

    --color-docs-toolbar-combo-button-input: #bbb8b9;

    --color-docs-toolbar-button: #aaa;

    --background-docs-toolbar-mode-switcher: #454a4d;
    --color-docs-toolbar-mode-switcher: #aaa;

    --color-docs-menu-bar-control: #888;
    --color-docs-menu-bar-control-hover: #bbb;
    --background-docs-menu-bar-control-hover: #323538;
    --background-matte: #222;
    --color-docs-word-count: #aaa;
    --background-docs-word-count: #282828;
}

.docs-grille-gm3.docs-body-pageless #docs-chrome,
.docs-grille-gm3 #docs-chrome:not(.docs-hub-chrome), 
.docs-grille-gm3.docs-body-pageless #docs-chrome .docs-titlebar-buttons,
.docs-grille-gm3 #docs-header:not(.docs-hub-appbar) .docs-titlebar-buttons {
    background: var(--background-docs-chrome);
    border-color: var(--border-docs-chrome);'
}

.kix-page-paginated {
    outline-color: #0003;
}


.docs-grille-gm3.docs-body-pageless #docs-align-palette, .docs-grille-gm3.docs-body-pageless #docs-align-palette .goog-toolbar-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-combo-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-menu-button, .docs-grille-gm3.docs-body-pageless .docs-toolbar-more-toolbar, .docs-grille-gm3.docs-body-pageless.docs-gm #docs-toolbar-wrapper,
.docs-grille-gm3.docs-gm .docs-material #docs-toolbar-wrapper,
.docs-grille-gm3 #docs-align-palette .goog-toolbar-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-menu-button, .docs-grille-gm3 .trix-palette .goog-toolbar-menu-button{
    background: var(--background-docs-toolbar-wrapper);
}

.docs-grille-gm3 .trix-palette .goog-toolbar-menu-button-hover, .docs-grille-gm3.docs-gm #docs-align-palette .goog-toolbar-button-hover, .docs-grille-gm3.docs-gm .clean-palette .goog-palette-cell-hover, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button-hover, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button-hover, .docs-grille-gm3.docs-gm .docs-toolbar-zoom-combobox.goog-toolbar-combo-button-hover {
    background: var(--background-docs-toolbar-button-hover);
}

.docs-body-pageless #kix-horizontal-ruler-container .docs-horizontal-ruler, .docs-body-pageless #kix-horizontal-ruler-container .docs-ruler-background-inner, .docs-body-pageless .docs-vertical-ruler,
.docs-grille-gm3 .docs-horizontal-ruler, .docs-grille-gm3 .docs-ruler-background-inner, .docs-grille-gm3 .docs-vertical-ruler {
    background:  var(--background-docs-chrome) !important;
    border-color: var(--border-docs-chrome);
}

.docs-grille-gm3 #kix-vertical-ruler:before {
    background: var(--border-docs-chrome);
}

.docs-grille-gm3.docs-body-pageless #docs-editor, .docs-grille-gm3.docs-body-pageless #docs-editor-container, body.docs-grille-gm3.docs-body-pageless,
.docs-grille-gm3 #docs-editor, .docs-grille-gm3 #docs-editor-container,
.docs-grille-gm3 .kix-appview-editor, body.docs-grille-gm3 {
    background: var(--background-docs-editor) !important;
}

.docs-grille .docs-title-input {
    color: var(--color-docs-title-input);
}

#docs-title-input-label-inner {
    color: var(--color-docs-title-input-label-inner);
}

:is(.goog-toolbar-button-inner-box, .goog-toolbar-menu-button-inner-box) .docs-icon-img {
    filter: invert();
}

.docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button-input {
    color: var(--color-docs-toolbar-combo-button-input);
}

.docs-material .goog-toolbar-button, .docs-material .goog-toolbar-menu-button {
    color: var(--color-docs-toolbar-button);
}

.docs-grille-gm3.docs-gm.docs-body-pageless #docs-toolbar-mode-switcher,
.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher {
    background: var(--background-docs-toolbar-mode-switcher);
}

.docs-grille-gm3 #docs-toolbar-mode-switcher .goog-toolbar-menu-button-caption {
    color: var(--color-docs-toolbar-mode-switcher);
}

.docs-gm .docs-menubar .goog-control {
    color: var(--color-docs-menu-bar-control);
}

.docs-grille .docs-menubar .goog-control-hover, .docs-grille .docs-menubar .goog-control-open {
    background: var(--background-docs-menu-bar-control-hover);
    color: var(--color-docs-menu-bar-control-hover);
}

.docs-material-gm-select-caption {
    color: var(--color-docs-word-count);
}

.kix-documentmetrics-widget {
    background: var(--background-docs-word-count);
    box-shadow: 0 2px 6px 2px #0003;
}

/* comments */
:root {
    --background-docs-comment: #282828;
    --color-docs-comment-op: #ccc;
    --color-docs-comment-timestamp: #888;
    --color-docs-comment-text: #aaa;
    --color-docs-comment-text-secondary: #888;
    --background-docs-comment-hover: #2b2b2b;
    --background-docs-comment-open: #2e2e2e;
    --background-docs-comment-input: #222;
    --border-docs-comment-input: #333;
    --color-docs-comment-input: #aaa;
    --color-docs-comment-input-placeholder: #666;
    --background-docs-button-action-disabled: #555;
    --color-docs-button-action-disabled: #aaa;
    --background-docs-button-standard: #2e2e2e;
    --border-docs-button-standard: #555;
    --color-docs-button-standard: #4089fd;
    --border-docs-button-standard-hover: #44659a;
    --color-docs-button-standard-hover: #82b2ff;
    --background-docs-button-standard-hover: #498fff30;
    --color-docs-comment-reply: #aaa;
    --border-docs-comment-separator: #444;
}

.docs-grille-gm3 .kix-appview-editor, body.docs-grille-gm3 {
    background-image: none !important;
}

.docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview .docos-anchoredreplyview, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview-input-pane,
.docs-grille-gm3 .docos-anchoreddocoview, .docs-grille-gm3 .docos-anchoreddocoview .docos-anchoredreplyview, .docs-grille-gm3 .docos-anchoreddocoview-input-pane {
    background: var(--background-docs-comment);
}

.docs-grille-gm3 .docos-anchoredreplyview-header .docos-anchoredreplyview-author {
    color: var(--color-docs-comment-op);
}

.docs-grille-gm3 .docos-anchoredreplyview .docos-action-text, .docs-grille-gm3 .docos-anchoredreplyview-header .docos-anchoredreplyview-timestamp, .docs-grille-gm3 .docos-streamdocoview .docos-action-text, .docs-grille-gm3.docs-gm .docos-xeditor .docos-streamdocoview-timestamp {
    color: var(--color-docs-comment-timestamp);
}

.docs-grille-gm3 .docos-anchoredreplyview .docos-anchoredreplyview-body div, .docs-grille-gm3 .docos-streamdocoview-body .docos-replyview-body div {
    color: var(--color-docs-comment-text-secondary) !important;
}

.docs-grille-gm3 .docos-anchoredreplyview .docos-anchoredreplyview-body span, .docs-grille-gm3 .docos-streamdocoview-body .docos-replyview-body span {
    color: var(--color-docs-comment-text) !important;
}

.docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview:hover, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview:hover .docos-anchoreddocoview-input-pane, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview:hover .docos-anchoredreplyview,
.docs-grille-gm3 .docos-anchoreddocoview:hover, .docs-grille-gm3 .docos-anchoreddocoview:hover .docos-anchoreddocoview-input-pane, .docs-grille-gm3 .docos-anchoreddocoview:hover .docos-anchoredreplyview {
    background: var(--background-docs-comment-hover);
}

.docs-grille-gm3.docs-gm .docos-anchoreddocoview.docos-docoview-active, .docs-grille-gm3.docs-gm .docos-anchoreddocoview.docos-docoview-active:hover, .docs-grille-gm3.docs-gm .docos-docoview-active .docos-anchoreddocoview-input-pane, .docs-grille-gm3.docs-gm .docos-docoview-active .docos-anchoredreplyview, .docs-grille-gm3.docs-gm .docos-docoview-active:hover .docos-anchoreddocoview-input-pane, .docs-grille-gm3.docs-gm .docos-docoview-active:hover .docos-anchoredreplyview {
    background: var(--background-docs-comment-open);
}

.docs-grille-gm3 .docos-input .docos-input-textarea, .docs-grille-gm3 .docos-input .docos-input-textarea:focus, .docs-grille-gm3 .docos-streamdocoview-input-pane .docos-input-textarea, .docs-grille-gm3 .docos-streamdocoview-input-pane.docos-input .docos-input-textarea:focus {
    background: var(--background-docs-comment-input);
    color: var(--color-docs-comment-input);
    border-color: var(--border-docs-comment-input);
}

.docs-grille-gm3 .docos-input-contenteditable:empty:before {
    color: var(--color-docs-comment-input-placeholder);
}

.docs-grille-gm3 .docos.docs-gm .jfk-button.jfk-button-action.jfk-button-disabled {
    background: var(--background-docs-button-action-disabled);
    color: var(--color-docs-button-action-disabled);
}

.docs-grille-gm3 .docos.docs-gm .jfk-button.jfk-button-standard {
    background: var(--background-docs-button-standard);
    color: var(--color-docs-button-standard);
    border-color: var(--border-docs-button-standard) !important;
}

.docs-grille-gm3 .docos.docs-gm .jfk-button.jfk-button-standard.jfk-button-hover {
    color: var(--color-docs-button-standard-hover);
    border-color: var(--border-docs-button-standard-hover) !important;
    background: var(--background-docs-button-standard-hover);
}

.docs-grille-gm3 .docos-anchoredreplyview .docos-anchoredreplyview-body {
    color: var(--color-docs-comment-reply);
}

.docs-grille-gm3 .docos-anchoreddocoview .docos-anchoredreplyview, .docs-grille-gm3 .docos-anchoreddocoview-input-pane {
    border-color: var(--border-docs-comment-separator);
}

.docs-grille-gm3 .docs-suggestion-button:not(.jfk-button-disabled) .docs-material .docs-icon-img, .docs-grille-gm3 .docs-suggestion-button:not(.jfk-button-disabled) .docs-material .docs-icon-img:before {
    filter: brightness(1.5) grayscale(0.4);
}

.docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview .docos-show-less, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview .docos-show-more, .docs-grille-gm3.docs-body-pageless .docos-replyview-first .docos-show-more {
	background: var(--background-docs-comment);
}

.docs-grille-gm3 .docos-show-less, .docs-grille-gm3 .docos-show-more {
	color: var(--color-docs-button-standard);
}

/* scrollbar */
:root {
    --background-scrollbar: #555;
    --background-scrollbar-hover: #777;
    --background-scrollbar-active: #666;
}

.docs-gm ::-webkit-scrollbar-thumb {
    background-color: var(--background-scrollbar);
}

[current-url^="https://docs.google.com/document/u/"] ::-webkit-scrollbar, 
[current-url^="https://docs.google.com/document/u/"] ::-webkit-scrollbar-track, 
[current-url^="https://docs.google.com/document/u/"] ::-webkit-scrollbar-corner, 
[current-url^="https://docs.google.com/document/u/"] ::-webkit-scrollbar-track-piece {
    background: var(--background-docs-chrome) !important;
}

[current-url^="https://docs.google.com/document/u/"] ::-webkit-scrollbar-thumb {
    border-color: var(--background-docs-chrome);
    background: var(--background-scrollbar);
}

[current-url^="https://docs.google.com/document/u/"] ::-webkit-scrollbar-thumb:hover {
	background: var(--background-scrollbar-hover);
	box-shadow: none;
}

[current-url^="https://docs.google.com/document/u/"] ::-webkit-scrollbar-thumb:active {
	background: var(--background-scrollbar-active);
	box-shadow: none;
}

/* outline */
:root {
    --color-outline: #888;
    --color-outline-2: #777;
}

.docs-grille-gm3 .left-sidebar-container.pageless-format {
    background: var(--background-docs-chrome);
    box-shadow: 1px 0 0 0 var(--border-docs-chrome);
}

.kix-smart-summary-view-header-container {
    color: var(--color-outline);
}

.docs-grille-gm3 .navigation-widget-header, .docs-grille-gm3 .outline-refresh .navigation-item, .docs-grille-gm3 .outline-refresh .navigation-item .navigation-item-level-0 {
    color: var(--color-outline);
}

.docs-grille-gm3 .navigation-item-content:not(.navigation-item-level-0) {
    color: var(--color-outline-2);
}

/* Document title (WIP) */
:root {
    --color-docs-title-input-focus: #fff;
    --color-docs-document-location-label: #aaa;
    --color-docs-document-location: #ccc;
}

.docs-grille-gm3 .docs-title-input {
    color: transparent;
}

.docs-grille-gm3 .docs-title-input:focus {
    color: var(--color-docs-title-input-focus);
}

.docs-parent-collections-container-prefix, .docs-parent-collections-container-text {
    color: var(--color-docs-document-location-label);
}

.docs-parent-collections-container-folder-name {
    color: var(--color-docs-document-location);
}
