/* Hide the line separating the pages in compact mode */
.kix-page-compact::before {
    border-top: none;
}

/* Add a big margin after the last page */
.kix-paginateddocumentplugin {
    margin-bottom: calc(50vh - 100pt);
}

/* Hide pointless garbage */
.docs-explore-widget {
	display: none;
}

.app-switcher-button {
	visibility: hidden;
}

.docs-companion-app-switcher-container {
	visibility: hidden;
}

/* Fix sidebars being covered by the document and not being aligned to the right side */
.docs-dictionary-sidebar,
.docs-explore-sidebar,
.docs-onepick-integrated-sidebar,
.script-application-sidebar,
.addon-sidebar,
.docs-contentembedding-sidebar {
    z-index: 999;
    right: 0 !important;
}

/* Fix pulse animation overflowing on highlighted text when in compact mode */
.kix-paginateddocumentplugin-compact-mode .kix-page {
	overflow: visible;
}

.kix-paragraphrenderer {
    padding-top: 6px !important;
    margin-top: -6px;
    padding-bottom: 6px !important;
    margin-bottom: -6px;
    overflow: hidden;
    padding-left: 6px;
    margin-left: -6px;
    padding-right: 12px;
    margin-right: -12px;
}

.kix-paragraphrenderer + .kix-paragraphrenderer {
    margin-top: -12px;
}

.suggest-changes-colorbar-arrow-down-ltr {
    top: 0;
}

.kix-paginateddocumentplugin-compact-mode .kix-page,
.kix-paginateddocumentplugin-compact-mode .kix-page-content-wrapper {
	background: none !important;
}

.kix-paginateddocumentplugin-compact-mode {
    background: var(--background-document, #fff);
}

/* Filtering out headers that don't match the text in the URL input */
.suggestion-filtered-out {
	display: block;
	opacity: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}

/* Adds an animation to the suggestion highlights, but it's not good if you're typing */
.suggest-changes-top-colorbar, .suggest-changes-bottom-colorbar {
    /*animation: kix-overlay-pulse 200ms ease-in-out 1;*/
}

/* Outline collapsing */
.navigation-item.hidden-nav-item:not(.nav-find-highlighted):not(.location-indicator-highlight) {
	display: none;
}

:root {
    --color-outline-heading-find: #4cff6ab0;
    --color-outline-heading-find-hover: #4cff6a;
}

.outline-refresh .navigation-item.nav-find-highlighted,
.outline-refresh .location-indicator-highlight {
	box-shadow: inset 4px 0 currentcolor;
	border-radius: 0;
}

.outline-refresh .navigation-item.nav-find-highlighted.location-indicator-highlight {
	box-shadow: inset 4px 0 var(--color-outline-heading-find), inset 8px 0 currentcolor;
}

.outline-refresh .navigation-item.nav-find-highlighted.location-indicator-highlight.goog-button-hover {
	box-shadow: inset 4px 0 var(--color-outline-heading-find-hover), inset 8px 0 currentcolor;
}

.navigation-item.nav-find-highlighted {
    color: var(--color-outline-heading-find);
}

.navigation-item.nav-find-highlighted.goog-button-hover {
    color: var(--color-outline-heading-find-hover);
}

.navigation-widget-navigation-tab-button .navigation-item {
    padding-left: 10px;
}

.navigation-item-content::before {
	content: none !important;
}

.nav-directory-heading > .navigation-item-content::before {
    content: "" !important;
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-left: -22px;
/*     opacity: 0.5; */
    top: 10px;
    transform: rotate(-45deg);
    transition: all .1s ease-in-out;
    transition-property: transform, top;
	left: auto !important;
}

.nav-directory-heading.open-nav-item > .navigation-item-content::before {
    top: 7px;
    transform: rotate(45deg);
}

.nav-directory-heading > .navigation-item-content {
    position: relative;
}

.navigation-widget.outline-refresh .navigation-item .navigation-item-level-0 { padding-left: 30px; }
.navigation-widget.outline-refresh .navigation-item .navigation-item-level-1 { padding-left: calc(30px + 16px * 1); }
.navigation-widget.outline-refresh .navigation-item .navigation-item-level-2 { padding-left: calc(30px + 16px * 2); }
.navigation-widget.outline-refresh .navigation-item .navigation-item-level-3 { padding-left: calc(30px + 16px * 3); }
.navigation-widget.outline-refresh .navigation-item .navigation-item-level-4 { padding-left: calc(30px + 16px * 4); }
.navigation-widget.outline-refresh .navigation-item .navigation-item-level-5 { padding-left: calc(30px + 16px * 5); }


/* REVISIONS VIEW */

/* don't allow the header to overlap the revisions sidebar */
:root.viewing-revisions #docs-chrome {
    --real-width: calc(100vw - 300px) !important;
}

:root.viewing-revisions #docs-toolbar-wrapper {
    width: calc(100% - 44px) !important;
}

:root.viewing-revisions .docs-revisions-sidebar {
    z-index: 506;
}

/* when in a vertical view, force-place the doc all the way on the left side of the screen */
@media (max-width: 1260px) {
    :root.viewing-revisions .kix-zoomdocumentplugin-outer {
        left: 0 !important;
    }
}
