.zen-mode {
    --background-matte: var(--background-document, #fff);
}

.zen-mode .docs-gm #docs-editor, .zen-mode .docs-gm #docs-editor-container {
    background: var(--background-matte);
}

.zen-mode .docs-gm .docos-anchoreddocoview {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    box-shadow: none;
}

.zen-mode .docs-gm .docos-anchoreddocoview.docos-docoview-active {
    opacity: 1;
    pointer-events: all;
}

.zen-mode .docs-ruler {
    visibility: hidden;
}

.zen-mode #docs-chrome {
    position: fixed;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 5px #000c, 0 0 8px #0003;
/*     z-index: 502; */
}

.zen-mode #docs-chrome::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
}

.zen-mode #docs-chrome:not(:hover):not(:focus-within) {
    margin-top: -104px;
    margin-bottom: 104px;
    box-shadow: none;
}

.zen-mode .kix-paginateddocumentplugin-compact-mode,
.zen-mode .kix-page-compact,
.zen-mode .kix-page-compact-first,
.zen-mode .kix-page-compact-box-shadow, 
.zen-mode .kix-paginateddocumentplugin-compact-mode-box-shadow {
    box-shadow: none !important;
}

.zen-mode .kix-document-top-shadow-inner {
    display: none;
}

.zen-mode #docs-branding-container {
	filter: saturate(0);
}

#docs-chrome {
    position: relative;
    z-index: 506;
}

.docs-ruler {
    position: relative;
    z-index: 23;
}

.zen-mode .kix-appview-editor {
    height: 100vh !important;
}

.zen-mode .kix-page-compact::before, .zen-mode .kix-page-canvas-compact-mode {
    border-top: none;
}

.zen-mode .docs-explore-widget {
	display: none;
}

.zen-mode .app-switcher-button {
	visibility: hidden;
}

.zen-mode .kix-documentmetrics-widget {
    background: linear-gradient(to bottom, transparent, var(--background-matte));
    box-shadow: none;
    border: none;
    bottom: 0px;
    width: 100%;
    pointer-events: none;
    height: 80px;
    margin: 0;
    padding: 16px 30px 0;
    left: 0 !important;
}

.zen-mode.has-horizontal-scrollbar .kix-documentmetrics-widget {
	bottom: 16px;
}

.zen-mode .kix-documentmetrics-widget .docs-material-gm-select-outer-box {
    padding-bottom: 0;
    padding-top: 55px;
    margin: auto;
    max-width: calc(var(--document-width) + 100px);
}

.zen-mode .kix-documentmetrics-widget .docs-material-gm-select-dropdown {
    display: none;
}

.zen-mode .kix-documentmetrics-widget .docs-material-gm-select-caption {
	pointer-events: all;
}

.zen-mode .kix-documentmetrics-widget.docs-material-gm-select-hover .docs-material-gm-select-outer-box,
.zen-mode .kix-documentmetrics-widget.docs-material-gm-select-focused .docs-material-gm-select-outer-box {
	background: none;
}

.zen-mode .docs-material-gm-select-hover .docs-material-gm-select-caption {
	color: var(--color-link, #4285f4);
}

.zen-mode .docs-material-gm-select-outer-box:active {
	box-shadow: none;
	background: none;
}

.zen-mode .kix-documentmetrics-widget-menu {
	top: auto !important;
    left: 14px !important;
    bottom: 40px;
}

.zen-mode.has-horizontal-scrollbar .kix-documentmetrics-widget-menu {
    bottom: 56px;
}

.zen-mode .docs-companion-app-switcher-container {
	visibility: hidden;
}

.zen-mode .docs-dictionary-sidebar,
.zen-mode .docs-explore-sidebar,
.zen-mode .docs-onepick-integrated-sidebar,
.zen-mode .script-application-sidebar,
.zen-mode .addon-sidebar,
.zen-mode .docs-contentembedding-sidebar {
    right: 0 !important;
}

.zen-mode .navigation-widget-navigation-tab-button.navigation-widget.outline-refresh {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: none;
    box-sizing: border-box;
}

.zen-mode .left-sidebar-container {
    top: 0 !important;
    height: 100% !important;
    overflow: visible;
    z-index: 501;
}

.zen-mode.has-vertical-ruler .left-sidebar-container {
    margin-left: -14px;
}

.zen-mode:not(.has-horizontal-scrollbar) .left-sidebar-container {
    transition: height 0s linear .1s;
}

.zen-mode .navigation-widget-content {
    height: auto !important;
}

.zen-mode .docs-navigation-tab-button {
    background: transparent;
    border: none;
    box-shadow: none;
    opacity: 0 !important;
    transition: opacity .3s ease-in-out 1s;
    top: 100px;
}

.zen-mode .left-sidebar-container:hover .docs-navigation-tab-button[style*="opacity: 1"] {
	opacity: 1 !important;
	transition-delay: 0s;
}

.zen-mode .docs-navigation-tab-button:hover {
    filter: brightness(1.3);
}

.zen-mode.has-horizontal-ruler .kix-appview-editor-container {
    margin-top: -14px;
}

.zen-mode #docs-instant-button-bubble {
    border: none;
    background: transparent;
}

.zen-mode #docs-instant-button-bubble:hover {
    background: transparent;
}

.zen-mode .navigation-widget-hat-close {
    top: 110px;
    right: -50px;
	position: absolute;
}

.zen-mode .navigation-widget-hat {
	height: 100px;
}

.zen-mode .navigation-widget:not(:hover) {
    opacity: 0.2 !important;
}

.zen-mode #docs-toolbar-mode-switcher {
    position: fixed;
    top: 115px;
    right: 41px;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s ease-in .5s;
}

.zen-mode.right-side-hovered #docs-toolbar-mode-switcher {
    opacity: 1;
    transition: opacity .3s ease-out;
}

.zen-mode #docs-toolbar-mode-switcher .goog-toolbar-menu-button-caption {
    width: auto !important;
}

.zen-mode #docs-toolbar-mode-switcher .goog-toolbar-menu-button-label {
    display: none;
}

.zen-mode .kix-page-paginated {
	box-shadow: none;
}

.zen-mode-no-comments .kix-commentoverlayrenderer-normal, .zen-mode-no-comments .kix-commentoverlayrenderer-highlighted {
    display: none;
}

.zen-mode-no-comments .kix-discussion-plugin {
    display: none;
}

.zen-mode-no-comments .others-cursor {
    display: none;
}

.zen-mode-no-comments .kix-selection-overlay[style*="background-color: "]:not([style*="background-color: rgb(0, 0, 0)"]) {
    display: none;
}

#docs-docos-commentsbutton {
    position: relative;
}

#docs-docos-commentsbutton::before,
#docs-docos-commentsbutton::after {
    content: var(--content-no-comments-slash);
    display: block;
    position: absolute;
    width: 30px;
    height: 1px;
    background: currentColor;
    transform: rotate(-40deg);
    margin-top: -1.5px;
    margin-left: -1px;
    z-index: 1;
}

#docs-docos-commentsbutton::before {
    width: 34px;
    height: 5px;
    background: var(--background-header);
}

#docs-docos-commentsbutton::after {
    filter: brightness(var(--filter-brightness-no-comments-slash));
}

.zen-mode-no-comments #docs-docos-commentsbutton {
    --content-no-comments-slash: "";
}
